<section class="container">
    <div class="container__imgLeft">
        <img src="assets/img/img-text-1.png" alt="imagen izquierda">
    </div>
    <div class="container__textRight">
        <div class="container__textRight__content">
            <h2>Cancun</h2>
            <p>Cancún es una ciudad vibrante famosa por sus playas y vida nocturna. Con aguas cristalinas y arenas blancas, es un paraíso para los amantes del sol.</p>   
            <app-button-lg-icon [imgUrl]="iconPlane" [cssClassName]="'c-button c-button--primary c-button--lg'">{{buttonText}}</app-button-lg-icon>
        </div>
    </div>
</section>