@import '../../../../styles/colors';
@import '../../../../styles/typography';
@import '../../../../styles/variables';

//Desktop
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 411.44px;
    .container__imgRight{
        img{
            width: 100%;
            height: 411.44px;
            object-fit: cover;
        }
    }
    .container__textLeft{
        display: flex;
        align-items: center;
        .container__textLeft__content{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $space-400;
            margin-left: $space-2400;
        }
    }
}
