<section class="container">
    <div class="container__textLeft">
        <div class="container__textLeft__content">
            <h2>La romana</h2>
            <p>Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa. </p>   
            <app-button-lg-icon buttonText="Ver más" [showIconLeft]="true" [showIconRight]="true" [imgUrl]="iconBeach" [cssClassName]="'c-button c-button--primary c-button--lg'"></app-button-lg-icon>
        </div>
    </div>
    <div class="container__imgRight">
        <img src="assets/img/img-text-2.png" alt="imagen izquierda">
    </div>
</section>