<section class="section">
    <div class="section__text-container section__text-container--right">
        <div class="section__content">
            <h2 class="section__title">La romana</h2>
            <p class="section__description">Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa. </p>   
            <app-button-lg-icon buttonText="Ver más" [showIconLeft]="true" [showIconRight]="true" [imgUrl]="iconBeach" [cssClassName]="'c-button c-button--primary c-button--lg'"></app-button-lg-icon>
        </div>
    </div>
    <div class="section__image-container section__image-container--left">
        <img class="section__image" src="assets/img/img-text-2.png" alt="Imagen de La Romana">
    </div>
</section>