@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    margin: $size-1000 18rem;
    img{
        height: $size-600;
    }
}