@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

header{
    padding: $space-300;;
    display: flex;
    flex-direction: column;
    gap: $space-500;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .menu-toggle{
        padding: 0;
        border: 0;
        background-color: transparent;
        img{
            height: $size-300;
        }
    }
}