<header class="header">
    <div class="header__container">
        <a href="#" class="header__logo-link" aria-label="Ir al inicio">
            <img 
                src="assets/img/logo-manifest-pos.svg" 
                alt="Logo Manifest" 
                class="header__logo-image" 
                aria-label="Logo Manifest">
        </a>
        <button class="header__menu-toggle" aria-label="Abrir menú" (click)="changeNav()">
            <img src="assets/img/icon-close.svg" alt="Cerrar menú">
        </button>
    </div>
    <app-nav-mobile></app-nav-mobile>
</header>