@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.header{
    padding: $space-300;;
    display: flex;
    flex-direction: column;
    gap: $space-500;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__menu-toggle{
        padding: 0;
        border: 0;
        background-color: transparent;
        img{
            height: $size-300;
        }
    }
}