@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';


// Desktop
.card{
    background-color: map-get($neutral,"white");
    box-shadow: 0px 10px 40px 0px #0000001A;
    max-width: 318px;
    .card__imgHolder{
        position: relative;
        width: 100%;
        height: 238.5px;
        .card__imgHolder__img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .card__imgHolder__chip{
            position: absolute;
            right: $space-200;
            top: $space-200;
        }
    }
   .card__content{
        .card__content__description{
            padding: $space-200;
            gap: $space-200;
            display: grid;
            opacity: $opacity-100;
            .text--sm{
                font-size: map-get($font-size-desktop, "2");
            }
            .text--md{
                font-size: map-get($font-size-desktop, "3");
                line-height: 1.225rem;
            }
            .card__content__chips{
                display: flex;
                gap: 8px;
            }
            .card__content__price{
                display: flex;
                justify-content: space-between;
            }
            .card__content__buttons{
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                width: 100%;
                height: $size-500;
                gap: $space-200;
                button{
                    width: 100%;
                }
            }
        }
   }
}

// Móvil
@media (max-width: 576px){
    .card{
        max-width: 100%;
        .card__imgHolder{
            height: 234px;
        }
    }
}
