<article class="card">
    <section class="card__imgHolder">
    </section>
    <section class="card__content">
        <div class="card__content__description">
            <div class="card__content__chips">
                <app-chip-s></app-chip-s>
                <app-chip-s></app-chip-s>
                <app-chip-s></app-chip-s>
            </div>
            <p class="text--sm">10/05/2022</p>
            <h3>Sed donec blandit amet fames morbi donec tincidunt.</h3>
            <p class="text--md">Velit non id lacus eros montes. Arcu quis facilisis ut sed tempor vitae non adipiscing. Quam quis arcu ac in vulputate diam at tellus urna.</p>
            <div class="card__content__price">
                <p>Desde</p>
                <h3>2.031€</h3>
            </div>
            <div class="card__content__buttons">
                <app-button-md class="c-button c-button--sm"></app-button-md>
                <app-button-md class="c-button c-button--primary c-button--sm"></app-button-md>
            </div>
        </div>
    </section>
</article>