@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.pricing-table {
    overflow-x: scroll;
    &__table {
        width: 100%;
        min-width: 626px;
        border-collapse: collapse;
        font-family: $manifestfontfamilyplus-jakarta-sans;
    }
    &__header {
        padding: $space-300;
        border-left: 1px solid map-get($neutral,"gray-200");
        width: 25%;
        gap: $space-200;
    }
    &__header--empty{
        border-left: 0;
    }
    &__plan {
        font-family: $manifestfontfamilyplus-jakarta-sans;
        font-weight: map-get($font-weight,"700");
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        margin-bottom: $space-200;
    }
    &__price {
        font-size: 28px;
        line-height: map-get($line-height,"120");
    }
    &__button {
        width: 100%;
        background-color: transparent;
        border: 1px solid map-get($neutral,"gray-200");
        color: map-get($neutral,"gray-800");
        font-family: $manifestfontfamilyopen-sans;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        font-size: 15px;
        font-weight: map-get($font-weight,"400");
        line-height: 24px;
        box-shadow: none;
        border-radius: $border-radius-100;
        padding: $space-50;
        display: flex;
        align-items: center;
        justify-content: center;
        &--primary {
            background-color: map-get($amethyst,"400");
            border-color: map-get($amethyst,"400");
            color: map-get($neutral,"white");
        }   
    }
    &__row {
        border-top: 1px solid map-get($neutral,"gray-200");
        border-bottom: 1px solid map-get($neutral,"gray-200");
    }
    &__th {
        font-weight: map-get($font-weight,"400");
        font-size: map-get($font-size-desktop,"5");
        text-align: left;
        padding: $space-300 $space-400;
    }
    &__td {
        padding: $space-300 $space-400;
        text-align: center;
        border-left: 1px solid map-get($neutral,"gray-200");
    }
    &__icon {
        width: $size-400;
        height: $size-400;;
        display: inline-block;
    }
}