<section class="container">
    <table>
        <thead>
            <tr>
                <th class="border-left-0"></th>
                <th>
                    <p>Basic<span class="price">$9.99</span></p>
                    <button>Select</button>
                </th>
                <th>
                    <p class="text--primary">Pro<span class="price">$19.99</span></p>
                    <button class="c-button--primary">Start with Plus</button>
                </th>
                <th>
                    <p>Enterprise<span class="price">$29.99</span></p>
                    <button>Select</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Feature 1</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
            <tr>
                <th>Feature 2</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
            <tr>
                <th>Feature 3</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
            <tr>
                <th>Feature 4</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
            <tr>
                <th>Feature 5</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
            <tr>
                <th>Feature 6</th>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
                <td><img src="assets/img/icon-check-mark.svg" alt="Icono check mark"></td>
            </tr>
        </tbody>
    </table>
</section>