<section class="pricing-table">
    <table class="pricing-table__table">
        <thead>
            <tr>
                <th class="pricing-table__header pricing-table__header--empty"></th>
                <th class="pricing-table__header">
                    <p class="pricing-table__plan">Basic <span class="pricing-table__price">$9.99</span></p>
                    <button class="pricing-table__button">Select</button>
                </th>
                <th class="pricing-table__header">
                    <p class="pricing-table__plan text--primary">Pro <span class="pricing-table__price">$19.99</span></p>
                    <button class="pricing-table__button pricing-table__button--primary">Start with Plus</button>
                </th>
                <th class="pricing-table__header">
                    <p class="pricing-table__plan">Enterprise <span class="pricing-table__price">$29.99</span></p>
                    <button class="pricing-table__button">Select</button>
                </th>
            </tr>
        </thead>
        <tbody class="pricing-table__body">
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 1</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 2</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 3</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 4</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 5</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
            <tr class="pricing-table__row">
                <th class="pricing-table__th">Feature 6</th>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
                <td class="pricing-table__td"><img src="assets/img/icon-check-mark.svg" alt="Icono check mark" class="pricing-table__icon"></td>
            </tr>
        </tbody>
    </table>
</section>