<section class="mosaic">
    <div class="mosaic__row mosaic__row--full">
        <img class="mosaic__image" src="assets/img/mosaico-1.png" alt="Imagen 1">
    </div>
    <div class="mosaic__row mosaic__row--half">
        <img class="mosaic__image" src="assets/img/mosaico-2.png" alt="Imagen 2">
        <img class="mosaic__image" src="assets/img/mosaico-3.png" alt="Imagen 3">
    </div>
    <div class="mosaic__row mosaic__row--third">
        <img class="mosaic__image" src="assets/img/mosaico-4.png" alt="Imagen 4">
        <img class="mosaic__image" src="assets/img/mosaico-5.png" alt="Imagen 5">
        <img class="mosaic__image" src="assets/img/mosaico-6.png" alt="Imagen 6">
    </div>
</section>