<section>
    <div class="container">
        <div class="container__header">
            <app-header></app-header>
        </div>
        <div class="container__info">
            <p class="text--white text--center text--display">Explora el mundo: Tu guía de viajes perfecta</p>
            <hr class="Container__info__separador">
            <h1 class="text--white text--center">Explora destinos increíbles y vive aventuras inolvidables.</h1>
            <p class="text--white text--center">Ofrecemos una amplia gama de destinos, desde playas paradisíacas hasta montañas majestuosas, para que encuentres el lugar perfecto para tu próxima escapada.</p>
            <app-button-lg [cssClassName]="'c-button  c-button--primary c-button--lg'"></app-button-lg>
        </div>
    </div>
</section>