@import '../../../styles/colors';
@import '../../../styles/variables';

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    &__line {
      flex-grow: 1;
      height: 1px;
      background-color: map-get($neutral,"white");
    }
    &__icon {
      margin: 0 $space-100; 
      font-size: $size-300; 
    }
  }
  
  