@if(showMobileMenu){
    <app-hero></app-hero>

    <div class="container">
        <section class="layout">
            <div class="layout__text">
                <h2 class="layout__title">Los mejores destinos </h2>
                <p class="layout__description">Explora los mejores destinos del mundo, desde las playas paradisíacas de Maldivas hasta las montañas majestuosas de los Alpes. Cada lugar ofrece una experiencia única.</p>
            </div>
            <app-mosaic></app-mosaic>
        </section>
    
        <section class="container__full">
            <app-layout-img-left></app-layout-img-left>
            <app-layout-img-right></app-layout-img-right>
        </section>
        
        <section class="layout">
            <div class="layout__text">
                <h2 class="layout__title">Lorem ipsum dolor sit</h2>
                <p class="layout__description">Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
            </div>
            <div class="layout__cards">
                <app-card class="cards__item" [imgUrl]="img1"></app-card>
                <app-card class="cards__item" [imgUrl]="img2"></app-card>
                <app-card class="cards__item" [imgUrl]="img3"></app-card>
                <app-card class="cards__item" [imgUrl]="img4"></app-card>
                <app-card class="cards__item" [imgUrl]="img5"></app-card>
                <app-card class="cards__item" [imgUrl]="img6"></app-card>
                <app-card class="cards__item" [imgUrl]="img7"></app-card>
                <app-card class="cards__item" [imgUrl]="img8"></app-card>
            </div>
        </section>
        
        <section class="layout layout--gray">
            <div class="layout__text">
                <h2 class="layout__title">Flexible pricing for everyone</h2>
                <p class="layout__description">Choose the best plan for your needs.</p>
            </div>
            <div class="layout__table">
                <app-table></app-table>
            </div>
        </section>
    
        <section class="layout layout--gap-700">
            <div class="layout__text">
                <h2 class="layout__title">Contáctanos</h2>
                <p class="layout__description">¡Contáctanos! Estamos aquí para ayudarte con cualquier consulta que tengas. No dudes en escribirnos y te responderemos lo más pronto posible.</p>
            </div>
            <div class="layout__form">
                <div class="form__image">
                    <img src="assets/img/form.png" alt="Imagen del formulario">
                </div>
                <app-form class="form__container"></app-form>
            </div>
        </section>
    </div>
    
    <app-footer></app-footer>
}
@else{
    <app-header-mobile></app-header-mobile>
}

