<!-- <form action="">
    <div class="form__container form__container--2cols">
      <div class="form__group">
        <label class="form__label" for="nombre">Nombre</label>
        <app-input class="form__input"></app-input>
      </div>
      
      <div class="form__group">
        <label class="form__label" for="apellidos">Apellidos</label>
        <app-input class="form__input"></app-input>
      </div>
    </div>
  
    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <app-input class="form__input"></app-input>
    </div>
  
    <div class="form__group">
      <label class="form__label" for="mensaje">Mensaje</label>
      <app-textarea class="form__textarea"></app-textarea>
    </div>
  
    <div class="form__container form__container--spaceBetween">
      <div class="form__group form__group--checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">Acepto los <a aria-label="Ir a los términos y condiciones" href="#">Términos y condiciones</a></label>
      </div>
      <app-button-lg-icon 
        buttonText="Enviar" 
        [showIconLeft]="true"
        [showIconRight]="false" 
        [imgUrl]="iconSend" 
        [cssClassName]="'c-button c-button--primary c-button--lg'">
      </app-button-lg-icon>
    </div>
  </form> -->

<form class="form" action="" method="POST">
    <fieldset class="form__fieldset">
      <legend class="form__legend"></legend>
    
      <div class="form__group form__group--2cols">
        <div class="form__field">
          <label class="form__label" for="nombre">Nombre</label>
          <app-input class="form__input" id="nombre" name="nombre"></app-input>
        </div>
    
        <div class="form__field">
          <label class="form__label" for="apellidos">Apellidos</label>
          <app-input class="form__input" id="apellidos" name="apellidos"></app-input>
        </div>
      </div>
    
      <div class="form__field">
        <label class="form__label" for="email">Email</label>
        <app-input class="form__input" id="email" name="email" type="email" required></app-input>
      </div>
    
      <div class="form__field">
        <label class="form__label" for="mensaje">Mensaje</label>
        <app-textarea class="form__textarea" id="mensaje" name="mensaje" required></app-textarea>
      </div>
    
      <div class="form__group form__group--space-between">
        <div class="form__field form__field--checkbox">
          <input type="checkbox" id="terms" name="terms" required>
          <label for="terms">Acepto los <a href="#" aria-label="Ir a los términos y condiciones">Términos y
              condiciones</a></label>
        </div>
    
        <app-button-lg-icon buttonText="Enviar" [showIconLeft]="true" [showIconRight]="false" [imgUrl]="iconSend"
            [cssClassName]="'c-button c-button--primary c-button--lg'">
        </app-button-lg-icon>
      </div>
    </fieldset>
</form>