<nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link" aria-label="Ir a inicio" href="#">Inicio</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" aria-label="Ir a nosotros" href="#">Nosotros</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" aria-label="Ir a viajes" href="#">Viajes</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" aria-label="Ir a contacto" href="#">Contacto</a>
      </li>
    </ul>
</nav>