@import './styles/colors';
@import './styles/typography';
@import './styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Estilos globales
body {
  font-family: $manifestfontfamilyopen-sans;
  color: map-get($neutral,"gray-800");
  margin: 0 auto;
}

// Text
h1, h2, h3, h4, h5, h6, p {
    font-family: $manifestfontfamilyopen-sans;
    margin: 0;
}
p{
    color: map-get($neutral, "gray-800");
    line-height: 1.4rem;
}
h2{
    font-size: map-get($font-size-desktop, "7" );
    font-weight: map-get($font-weight,"700"); 
    color: map-get($amethyst, "400");
    line-height: 2.713rem;
}
h3{
    font-size: map-get($font-size-desktop, "5" );
    font-weight: map-get($font-weight,"700"); 
    color: map-get($neutral, "gray-800");
    line-height: 1.75rem;
}
.text--center{
    text-align: center;
}
.text--white{
    color: map-get($neutral, "white");
}
.text--primary{
    color: map-get($amethyst, "400");
}
.text--semibold{
    font-weight: map-get($font-weight,"600");
}
.text--bold{
    font-weight: map-get($font-weight,"800");
}


// Chip
.chip{
    background-color: map-get($neutral, "gray-50");
    color: map-get($neutral,"black");
    border-radius: $border-radius-full;
    font-weight: map-get($font-weight,"400");
    opacity: $opacity-100;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Móvil
@media (max-width: 576px){

}