@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.link {
    display: flex;
    align-items: center;
    gap: $space-50;
    text-decoration: none;
    &--white {
        color: map-get($neutral,"white");
    }
    &__icon {
    width: $size-200;
    height: $size-200;
      img {
        display: block; 
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      font-weight: map-get($font-weight,"400");
    }
    &:hover {
      text-decoration: underline;
    }
  }
