@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.link{
    display: flex;
    align-items: center;
    gap: $space-50;
    color: map-get($neutral,"white");
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    svg{
        width: $size-200;
        fill: map-get($neutral,"white");
    }
}