@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.footer {
    background-color: map-get($amethyst,"400");
    padding: $space-800 18rem $space-400 18rem;
    &__container {
        display: flex;
        flex-direction: column;
        gap: $space-200;
    }
    &__header {
        .footer__logo {
            height: $size-300;
        }
    }
    &__body {
        display: grid;
        gap: $space-300;
        grid-template-columns: repeat(2, 1fr); 
        &__description {
           p{
                color: map-get($neutral,"white");
           }
        }
        &__links {
            display: grid;
            gap: $space-300;
            grid-template-columns: repeat(3, 1fr); 
            &__column {
                display: grid;
                gap: $space-100;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        p {
            color: map-get($neutral,"white");
            font-size:  map-get($font-size-desktop,"3");
        }
        .footer__social-media {
            display: flex;
            gap: $space-200;
            .footer__social-media__icon {
                width: $size-300;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .footer{
        padding: $space-800 $size-1000 $space-400 $size-1000;
    }
}

@media (max-width: 1200px) {
    .footer{
        &__body{
            grid-template-columns: repeat(1, 1fr); 
        }
    }
}

@media (max-width: 768px) {
    .footer{
        padding: $space-800 $size-400 $space-400 $size-400;
        &__header{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__body{
            &__links{
                grid-template-columns: repeat(1, 1fr); 
            }
        }
    }
}

// Móvil
@media (max-width: 576px) {
    .footer{
        padding: $space-800 $size-300 $space-400 $size-300;
        &__footer{
            flex-direction: column;
            gap: $space-200;
        }
    }
}