<footer class="footer">
    <section class="footer__container">
        <div class="footer__header">
            <img 
                aria-label="Logo Manifest" 
                class="footer__logo" 
                src="assets/img/logo-manifest-white.svg" 
                alt="Logo Manifest"
            />
        </div>

        <div class="footer__body">
            <div class="footer__body__description">
                <p>
                    Cursus pretium a vel neque gravida eros mauris aliquam senectus. Cum volutpat arcu fames maecenas tortor ac. 
                    Suspendisse quis in duis curabitur sit sed porttitor a. Nec aliquet enim at enim tincidunt eget sed gravida. 
                    Egestas fermentum urna sed etiam aliquam.
                </p>
            </div>

            <div class="footer__body__links">
                <div class="footer__body__links__column">
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
                <div class="footer__body__links__column">
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
                <div class="footer__body__links__column">
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
            </div>
        </div>

        <app-separator class="footer__separator"></app-separator>

        <div class="footer__footer">
            <p class="footer__copyright">© 2024 Manifest</p>
            <div class="footer__social-media">
                <img 
                    aria-label="Redes sociales 1" 
                    class="footer__social-media__icon" 
                    src="assets/img/icon-rrss-1.svg" 
                    alt="Red social 1"
                />
                <img 
                    aria-label="Redes sociales 2" 
                    class="footer__social-media__icon" 
                    src="assets/img/icon-rrss-2.svg" 
                    alt="Red social 2"
                />
                <img 
                    aria-label="Redes sociales 3" 
                    class="footer__social-media__icon" 
                    src="assets/img/icon-rrss-3.svg" 
                    alt="Red social 3"
                />
                <img 
                    aria-label="Redes sociales 4" 
                    class="footer__social-media__icon" 
                    src="assets/img/icon-rrss-2.svg" 
                    alt="Red social 4"
                />
                <img 
                    aria-label="Redes sociales 5" 
                    class="footer__social-media__icon" 
                    src="assets/img/icon-rrss-1.svg" 
                    alt="Red social 5"
                />
            </div>
        </div>
    </section>
</footer>