<footer>
    <section class="container">
        <div class="container__header">
            <img aria-label="logo manifest" class="logo" src="assets/img/logo-manifest-neg.svg">
        </div>
        <div class="container__body">
            <div>
                <p>Cursus pretium a vel neque gravida eros mauris aliquam senectus. Cum volutpat arcu fames maecenas tortor ac. Suspendisse quis in duis curabitur sit sed porttitor a. Nec aliquet enim at enim tincidunt eget sed gravida. Egestas fermentum urna sed etiam aliquam.</p>
            </div>
            <div class="container__body__links">
                <div>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
                <div>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
                <div>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                    <app-link></app-link>
                </div>
            </div>
        </div>
        <app-separator></app-separator>
        <div class="container__footer">
            <p>© 2024 Manifest</p>
            <div class="container__footer__rrss">
                <img aria-label="rrss 1" class="icon" src="assets/img/icon-rrss-1.svg">
                <img aria-label="rrss 2" class="icon" src="assets/img/icon-rrss-2.svg">
                <img aria-label="rrss 3" class="icon" src="assets/img/icon-rrss-3.svg">
                <img aria-label="rrss 2" class="icon" src="assets/img/icon-rrss-2.svg">
                <img aria-label="rrss 1" class="icon" src="assets/img/icon-rrss-1.svg">
            </div>
        </div>
    </section>
</footer>