@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

footer{
    .container{
        background-color: map-get($amethyst,"400");
        padding: $space-800 18rem $space-400 18rem;
        display: flex;
        flex-direction: column;
        gap: $space-200;
        p{
            color: map-get($neutral,"white");
        }
        img{
            height: $size-300;
        }
        .container__body{
            display: grid;
            gap: $space-300;
            grid-template-columns: repeat(2, 1fr); 
            .container__body__links{
                display: grid;
                gap: $space-300;
                grid-template-columns: repeat(3, 1fr); 
                div{
                    display: grid;
                    gap: $space-50;
                }
            }
        }
        hr{
            width: 100%;
        }
        .container__footer{
            display: flex;
            justify-content: space-between;
        }
    }
}